body {
	font-family: 'Inter', sans-serif;
	font-size: 18px;
}

a {
	color: #303033;
}

.menu, .menu-content {
	display: none;
	transition: all ease-in-out 400ms;
}

.wrapper-header {
	background-color: #FFF;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 30px 0px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 9999;
}

.logo-fcamara {
	background-image: url("../../img/fcamara-logo.png");
	background-size: contain;
	background-repeat: no-repeat;
	cursor: pointer;
	margin-right: 5rem;
	height: 22.5px;
	width: 85px;
}

.header-nav-list {
	display: flex;
}

.header-nav-list-item {
	cursor: pointer;
	font-weight: 700;
	text-transform: lowercase;
	margin-right: 5rem;
	transition: all 0.2s ease-in-out;
}

.header-nav-list-item:hover {
	color: #FC6027;
	transition: all 0.2s ease-in-out;
}

.header-nav-list-item:last-child {
	margin-right: 0;
}

